<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs')%>
<body>
  <div class="container">
    <%-include('./partials/nav.ejs')%>

    <div class="content not-found">
      <h1>About Page</h1>
      
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque fugiat ipsam voluptatem vitae obcaecati impedit deserunt. Distinctio, error maxime. A molestiae veniam est nihil saepe. Temporibus fugit omnis qui eius?</p>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptates odio explicabo! Obcaecati dolorum consequuntur, qui blanditiis perferendis non totam temporibus necessitatibus tempora in deleniti, aspernatur adipisci autem rerum fugiat?</p>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque similique amet esse possimus enim voluptatem ut velit assumenda nam ullam quam, dolorum a. Laborum nobis quod culpa impedit explicabo fugit.</p>


    </div>
  </div>

  <%-include('./partials/footer.ejs')%>
</body>
</html>